@use '../util/' as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-radius: u.rem(12);
  // width: min(100vw, u.rem(320));
  width: min(100vw - u.rem(12));
  padding: u.rem(12);

  &__img.img-mobile {
    display: block;
    width: 100%;
    border-radius: u.rem(12) u.rem(12) 0 0;
  }

  &__img.img-desktop {
    display: none;
  }

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    width: min(100vw - u.rem(12), u.rem(800));

    .img-mobile {
      display: none;
    }

    .img-desktop {
      display: block;
      width: u.rem(400);
      border-radius: u.rem(12) 0 0 u.rem(12);
    }
  }

  &__container {
    display: grid;
    padding: u.rem(16);
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 u.rem(12) u.rem(12);

    @include u.breakpoint(medium) {
      border-radius: 0 u.rem(12) u.rem(12) 0;
    }
  }
}
