@use '../util/' as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  width: min(100vw - u.rem(12), u.rem(425));
  padding: u.rem(10);

  &__img.img-mobile {
    display: block;
    width: 100%;
    border-radius: u.rem(12) u.rem(12) 0 0;
  }

  &__img.img-desktop {
    display: none;
  }

  @include u.breakpoint(large) {
    grid-template-columns: 1fr 1fr;
    width: min(100vw - u.rem(32), u.rem(600));

    .img-mobile {
      display: none;
    }

    .img-desktop {
      display: block;
      width: u.rem(300);
      border-radius: u.rem(12) 0 0 u.rem(12);
    }
  }

  &__container {
    display: grid;
    padding: u.rem(16);
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 u.rem(12) u.rem(12);

    .item-pricing {
      // display: grid;
      // grid-template-columns: 1fr 2fr;
      display: flex;
      align-items: center;
      column-gap: u.rem(16);
      margin-bottom: u.rem(20);
    }

    @include u.breakpoint(large) {
      padding: u.rem(24);
      border-radius: 0 u.rem(12) u.rem(12) 0;
    }
  }
}
