@use '../util/' as u;

button {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: u.rem(16);
  border: none;
  border-radius: u.rem(6);
  font-family: u.font(mon);
  font-weight: 700;
  font-size: clamp(u.rem(10), u.rem(10) + 1.5vw, u.rem(18));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;

  &:hover {
    cursor: pointer;
    background-color: hsl(158, 37%, 19%);
  }

  @include u.breakpoint(large) {
    padding: u.rem(10);
    // font-size: clamp(u.rem(16), u.rem(16) + 1.5vw, u.rem(20));
  }

  img {
    padding-right: u.rem(16);
  }
}
