@use '../util/' as u;

h2 {
  font-size: u.rem(34);
}
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  font-family: u.font(fra);
}

h3.item__price {
  font-size: u.rem(32);
  color: hsl(158, 36%, 37%);
}

h3.item__price::after {
  font-size: u.rem(14);
  font-family: u.font(mon);
  font-weight: 500;
  text-decoration: line-through;
}

p {
  font-size: u.rem(14);
  font-family: u.font(mon);
  font-weight: 500;
}

p.item__type {
  font-size: u.rem(12);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
